main {
    width: 100%;
    padding: 0 20px;
}

/* form */
.filter-container {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.filter-container div {
    margin: 0 10px;
    display: inline-block;
}

label {
    font-size: 12px;
}

form select {
    background-color: #5c6295;
    color: white;
    width: auto;
    min-width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    background-color: #5c6295;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border;
}

input[type="submit"] {
    background-color: #0679E2;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* table / schedule */
.schedule-container {
    padding-bottom: 30px;
}

table {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    width: 100%;
    color: white;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead tr th {
    background-color: #7d84b9;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid transparent;
    text-align: center;
    border-left: 1px solid #7d84b9;
    border-right: 1px solid #7d84b9;
}

/* no border for the first and last cell */
table th:first-child,
table td:first-child {
    border-left: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}

tbody tr:nth-child(even) {
    background-color: rgba(137, 143, 190, 0.212);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}