.change-password-container {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    width: 100%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.change-password-container div{
    width: 60%;
}

button[name="subNewPass"] {
    background-color: #0679E2;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

button[name="subNewPass"]:hover {
    background-color: #0056b3;
}