.side-by-side {
    display: flex;
}

main {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    display: inline-block;
    height: auto;
    margin: 0 0 0 20px;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*form {
    margin-top: 10px;
}*/

.selection {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.selection label {
    margin-right: 10px;
}


select {
    width: auto;
    padding: 10px;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

/* form validation */
.error {
    color: rgb(251, 78, 78);
    font-size: 10pt;
    display: none;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}