main {
    width: 100%;
    height: 85vh;
    display: flex;
    padding: 0 20px;
}

/* form */
.profile-update {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    width: 50%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#edit_btn,
#update_btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

#update_btn {
    margin-top: 10px;
    width: 100%;
}

#edit_btn:hover,
#update_btn:hover {
    background-color: #007bff;
}

label {
    font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    background-color: #5c6295;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border;
}

/* profile picture */
.profile-picture-container {
    width: 30%;
    text-align: center;
}

.profile-picture-container img {
    background-color: #8e93c5;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    display: none;
}

.custom-file-input {
    background-color: #007bff;
    color: white;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    transition: all 0.5s ease;
    display: inline-block;
}

.file-input-wrapper input[type="file"]:disabled+.custom-file-input {
    background-color: #004c9e;
    cursor: not-allowed;
}

.custom-file-input:hover:not([disabled]) {
    background-color: #004c9e;
}