.main {
    width: 100%;
    padding: 0 20px;
}

.side-by-side {
    display: flex;
    flex-wrap: wrap;
}

.list .text,
.create-new-room .text {
    color: white;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

#searchInput {
    background-color: #5c6295;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: white;
}

table {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    width: 100%;
    color: white;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead tr th {
    background-color: #7d84b9;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid transparent;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: rgba(137, 143, 190, 0.212);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* create new room */
.create-new-room {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.create-new-room div {
    margin: 0 10px;
    display: inline-block;
}

label {
    font-size: 12px;
}

.create-new-room div select,
.create-new-room div input[type="text"] {
    background-color: #5c6295;
    color: white;
    width: auto;
    min-width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.submit-room {
    background-color: #0679E2;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}