.main-flex {
    padding: 0 20px 20px 20px;
    display: flex;
    align-items: flex-start;
}

.list .text,
.create-new-form .text {
    color: white;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

#searchInput {
    background-color: #5c6295;
    color: white;
    border: none;
    border-radius: 10px;
}

input::placeholder {
    color: white;
}

table {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    width: 100%;
    color: white;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead tr th {
    background-color: #7d84b9;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid transparent;
    text-align: left;
    border-left: 1px solid #7d84b9;
    border-right: 1px solid #7d84b9;
}

/* no border for the first and last cell */
table th:first-child,
table td:first-child {
    border-left: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}

tbody tr:nth-child(even) {
    background-color: rgba(137, 143, 190, 0.212);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* create new form */
.create-new-form {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    width: auto;
    height: auto;
    min-width: 300px;
    min-height: 150px;
    margin-right: 20px;
    padding: 20px;
    display: inline-block;
    border-radius: 15px;
}

label {
    font-size: 12px;
}

input[type="text"] {
    background-color: #5c6295;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border;
}

.create-new-form input[type="text"],
input[type="number"] {
    width: auto;
    min-width: 300px;
}

button,
input[type="submit"] {
    background-color: #0679E2;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}