.nav-container {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.nav-button {
    background-color: transparent;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
    width: 100%;
}

.active{
    background-color: #0679E2;
}

.nav-button:hover {
    background-color: #666b97;
}