.main {
    width: 100%;
    padding: 0 20px 20px 20px;
}

table {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    width: 100%;
    color: white;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead tr th {
    background-color: #7d84b9;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid transparent;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #7d84b9;
    border-right: 1px solid #7d84b9;
}

/* no border for the first and last cell */
table th:first-child,
table td:first-child {
    border-left: none;
}

table th:last-child,
table td:last-child {
    border-right: none;
}

tbody tr:nth-child(even) {
    background-color: rgba(137, 143, 190, 0.212);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* filter */
.filter-container {
    background: linear-gradient(to bottom right, #3d4479, #172278);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-container div {
    margin: 0 10px;
    display: inline-block;
}

label {
    font-size: 12px;
}

.filter-container div select {
    background-color: #5c6295;
    color: white;
    width: auto;
    min-width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.filter-button,
button {
    background-color: #0679E2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

.disabled-link {
    pointer-events: none;
    text-decoration: none;
    cursor: default;
    color: white;
}

/* for print function */
.print-info {
    display: none;
}

@media print {

    .filter-container,
    #editButton,
    #deleteButton,
    .print {
        display: none;
    }

    .print-info {
        display: block;
    }

    @media print {
        @page {
            margin: 0;
        }

        .home-section * {
            color: black !important;
            background: white !important;
        }

        .sidebar,
        .home-content i,
        .home-content .text,
        .filter-container,
        .print {
            display: none;
        }

        .home-section {
            background: white;
            color: black;
            width: 100%;
            margin-left: 0;
        }

        main {
            padding: 0;
        }

        img {
            width: 70px;
        }

        .header {
            text-align: center;
        }

        .print-info {
            text-align: center;
            margin-bottom: 20px;
            font-size: 10px;
            font-weight: bold;
            display: block !important;
        }

        .print-details {
            display: flex;
        }

        strong {
            margin-right: 15px;
        }

        table {
            background: white;
            border-collapse: collapse;
            width: 115vw;
            margin-left: -19vw;
            margin-top: -10vh;
            transform: scale(.8);
        }

        th:first-child {
            width: 10vw;
        }

        th,
        td {
            background: white;
            color: black;
            padding: 8px;
            border: 1px solid black;
            text-align: center;
        }
    }
}